@inherits LayoutComponentBase

<PageTitle>SMSH</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="#" target="_blank">关于</a>
        </div>

        <article class="p-2 pb-4">
            @Body
        </article>
    </main>
</div>
